* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #070724;
  color: #fff;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  background-image: url("./assets/solar-system.png"); /* Replace with your image URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  opacity: 0.9;
}
.content p {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: #000000;
}

.glass-card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.main-heading {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
